@model Akaibu_Project.Models.AnimeViewModel
@{
    ViewBag.Title = "Add Anime and Episodes";
}

<h1>Add New Anime and Episodes</h1>


<form asp-action="Add_Anime" method="post">
    <h2>Anime Details</h2>
    <label for="Anime_Title">Title:</label>
    <input type="text" id="Anime_Title" name="Anime.Title" required><br>

    <label for="Anime_NumberOfEpisodes">Number of Episodes:</label>
    <input type="number" id="Anime_NumberOfEpisodes" name="Anime.NumberOfEpisodes" required><br>

    <label for="Anime_Author">Author:</label>
    <input type="text" id="Anime_Author" name="Anime.Author" required><br>

    <label for="Anime_ShortStory">Short Story:</label>
    <textarea id="Anime_ShortStory" name="Anime.ShortStory" required></textarea><br>

    <label for="Anime_Tag">Tag:</label>
    <input type="text" id="Anime_Tag" name="Anime.Tag" required><br>

    <label for="Anime_DateOfProductionStart">Date of Production Start:</label>
    <input type="date" id="Anime_DateOfProductionStart" name="Anime.DateOfProductionStart" required><br>

    <label for="Anime_DateOfProductionFinish">Date of Production Finish:</label>
    <input type="date" id="Anime_DateOfProductionFinish" name="Anime.DateOfProductionFinish"><br>

    <label for="Anime_StatusAnime">Status:</label>
    <input type="text" id="Anime_StatusAnime" name="Anime.StatusAnime" required><br>

    <hr>

    <h2>Episodes</h2>
    <div id="episodesContainer">
        <!-- Episodes will be dynamically added here -->
        <div class="episode">
            <h3>Episode 1</h3>
            <div>
                <label for="Episodes_0_Title">Title:</label>
                <input type="text" id="Episodes_0_Title" name="Episodes[0].Title" class="title" required />
            </div>
            <div>
                <label for="Episodes_0_Number">Number:</label>
                <input type="number" id="Episodes_0_Number" name="Episodes[0].Number" class="number" required />
            </div>
            <div>
                <label for="Episodes_0_Description">Description:</label>
                <textarea id="Episodes_0_Description" name="Episodes[0].Description" class="description" required></textarea>
            </div>
            <div>
                <label for="Episodes_0_EpisodeLength">Episode Length:</label>
                <input type="time" id="Episodes_0_EpisodeLength" name="Episodes[0].EpisodeLength" class="episodeLength" required />
            </div>
            <div>
                <label for="Episodes_0_DateAdded">Date Added:</label>
                <input type="date" id="Episodes_0_DateAdded" name="Episodes[0].DateAdded" class="dateAdded" required />
            </div>
        </div>
    </div>
    <button type="button" id="addEpisodeButton">Add Another Episode</button>
    <hr>

    <button type="submit">Submit Anime and Episodes</button>

    <!-- Template for episode -->
    <template id="episodeTemplate" style="display:none;">
        <div class="episode">
            <h3>Episode X</h3>
            <div>
                <label for="Episodes_X_Title">Title:</label>
                <input type="text" name="Episodes[X].Title" class="title" required />
            </div>
            <div>
                <label for="Episodes_X_Number">Number:</label>
                <input type="number" step="1" name="Episodes[X].Number" class="number" required />
            </div>
            <div>
                <label for="Episodes_X_Description">Description:</label>
                <textarea name="Episodes[X].Description" class="description" required></textarea>
            </div>
            <div>
                <label for="Episodes_X_EpisodeLength">Episode Length:</label>
                <input type="time" name="Episodes[X].EpisodeLength" class="episodeLength" required />
            </div>
            <div>
                <label for="Episodes_X_DateAdded">Date Added:</label>
                <input type="date" name="Episodes[X].DateAdded" class="dateAdded" required />
            </div>
        </div>
    </template>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var episodeIndex = 1;

            $("#addEpisodeButton").click(function () {
                var template = $("#episodeTemplate").html();
                var newEpisode = $(template.replace(/X/g, episodeIndex));

                $("#episodesContainer").append(newEpisode);

                episodeIndex++;
            });
        });
    </script>
}
