@{
    ViewData["Title"] = "BanPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BanPage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
        }

        h2 {
            color: RED;
        }

        p {
            font-weight: bold;
            font-size: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .center-content img {
                margin: 20px 0;
                width: 50%;
                height: auto;
            }
    </style>
</head>
<body>

    <div class="center-content">
        <h2>Ban for: @Model.Nick!</h2>
        <img src="~/image/Ban.png" alt="Ban Image" />
        <p>Account Nick: @Model.Nick</p>
        <p>Account Reason: @Model.Bans</p>
    </div>

</body>
</html>
