@{
    ViewData["Title"] = "Home Page";
    @model Akaibu_Project.Entions.Users
}

<div class="text-center">
    <h1 class="display-4">Welcome to Akaibu!</h1>
    <p>Browse your favorite anime, add them to lists, have fun!</p>
    <img src="/image/Home.PNG" alt="Home Image" width="75%" height="75%" />
</div>
