@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Search";
}

@model Akaibu_Project.Entions.Users
<style>
    #sebutton {
        background-color: #E9987D;
        color: #fff;
    }
</style>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/search.css">

</head>

<h2 ">Search Results</h2>

<form asp-controller="Home" asp-action="Search" method="get" id="searchForm">
   
      
            <label style=" color: #E9987D" for="query">Search by Name:</label>
    <input style=" border-radius: 7px " type="text" id="query" name="query"><br>
            <label style=" border-radius: 7px " style=" color: #E9987D" for="tag">Search by Tag:</label>
    <input style=" border-radius: 7px " type="text" id="tag" name="tag"><br>
      
       
   

        <div class="form-group">
        <button  id="sebutton" style=" border-radius: 7px; " type="submit">Search</button>
        </div>
    
</form>
<br>
<br>

<div id="passwordContainer">
    <!-- Tutaj umieść kod do wyświetlania hasła -->
    @if (Model != null && Model.search.YourSearchResultsList != null && Model.search.YourSearchResultsList.Any())
    {
        <h3>Search Results:</h3>
        <ul>
            @foreach (var result in Model.search.YourSearchResultsList)
            {
                <li>
                    <h4>@result.Title</h4>
                    <!-- Dodaj więcej pól, które chcesz wyświetlić -->
                    <!-- Dodaj link do strony z detalami anime -->
                    <a asp-controller="Home" asp-action="AnimeDetails" asp-route-id="@result.Id">Details</a>
                    <!-- Link do strony z komentarzami anime -->
                    <a asp-controller="Home" asp-action="Comments" asp-route-id="@result.Id">Comments</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No results found.</p>
    }
</div>
