@model Akaibu_Project.Entions.Reports

<!DOCTYPE html>
<style>
    #senbutton {
        background-color: #E9987D;
        color: #fff;
    }
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz raportu</title>
</head>
<body>

    <h2>Napisz raport:</h2>
    <br>

    <form asp-controller="Home" asp-action="SendReport" method="post">
        <textarea asp-for="ReportText" style=" border-radius: 7px; rows="4" cols="50" maxlength="500" required></textarea>

        <br>

        <button id="senbutton" style=" border-radius: 7px; type="submit">Wyślij</button>
    </form>

</body>
</html>
