/* addanime.css */

body {
    font-family: Arial, sans-serif;
}

.add-anime-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #393033;
}

.content-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: #E9987D;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;

}

input, textarea, select {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #E9987D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.error {
    color: red;
}


