/* register.css */

.login-container {
    display: flex;
    height: 100%;
}

.left-section {
    flex: 1;
    margin-right: 300px;
    background-color: #393033;
    color: #E9987D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right-section {
    flex: 1;
    background-color: #554141;
    color: #fff;
    padding: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 10px;
}

    h1#hello-text {
        margin-right: -300px;
    }

p#glad-text {
    margin-right: -300px;
}

/* Dodatkowe style specyficzne dla strony rejestracji */
.login-container .new-element {
    color: #FF0000;
}
